.main-container {
  display: flex;
  flex-direction: column;
}

.top-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  background-color: #cec0c0;
  padding: 20px;
}

.top-bar .logo {
  flex: 2;
  height: 4em;
}

.top-bar .link {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  gap: 30px;
  align-items: center;
  margin: 0;
  padding: 20px;
  text-align: center;
}
.top-bar .link-item {
  min-width: 100px;
}

.intro {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}
.intro-text {
  padding: 20px;
  font-size: xx-large;
}
.intro-image img {
  width: 250px; /* oppure una misura a tua scelta */
  height: 250px; /* deve essere uguale alla width per il cerchio */
  border-radius: 50%; /* <-- questo crea il cerchio */
  object-fit: cover; /* <-- fa sì che l'immagine riempia il cerchio senza deformarsi */
}
