* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  font-family:
    Noto Sans,
    sans-serif;
  background-color: #beb8b8;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: var(--secondary-color);
}
